main {
  min-height: 73.5vh;
}

a img:hover, a img:focus {
  opacity: 50%;
}

header {
  position: sticky;
  top:0;
  left: 0;
  z-index: 2;
}

/* INDEX PAGE */
/* Hero Image Styling */
/* .img-container{
  position:relative;
} */

.intro {
  position: inherit;
}


.intro-slideshow img{
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  transition:opacity 0.75s ease-in-out;
}

.intro .intro-header{
  border-radius:2rem;
  padding:1rem 1.5rem;
  background-color:rgba(255, 255, 255, 50%);
  position: relative;
  z-index: 1;
  max-width: 35rem;
  margin: 0rem auto;
  top: 20rem;
  text-align: center;
}

h2 {
  color:rgb(0, 0, 0);
  font-size: 200%;
}

.intro p{
font-size:1.75rem;
}

.main-element {
  margin-bottom: 4rem;
}


.flex-item img {
  display: block;
  margin-bottom: 2rem;
}

.main-heading {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #332E3C;
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
}

.browse {
  float: right;
  margin-top: -4rem;
}

.element-position {
  position: relative;
  margin-top: 55rem;

}

@media (max-width: 37.5rem){
  .main-navigation a{
    margin: 0;
    padding: 0;
    margin-bottom: -0.5rem;
  }
  .main-navigation a:first-child{
    margin-top: 1rem;
  }

  .intro-header h2 {
    font-size: 150%;
  }

  .intro-header {
    padding: 1rem;
    width: 20rem;
  }
}

@media (min-width: 51rem) {
  .flex-item img{
    width: 35rem;
    height: 25rem;
  }

  .flex-item {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }
}

/* PRODUCTS CATALOGUE*/

.listing-heading {
  margin-top: 2rem;
  color: white;
}

@media (max-width: 69rem) {
  .main-navigation {
    padding-top: 5rem;
  }

  .main-navigation a{
    padding: 1rem;
  }
}

/* LOGIN */

.checkout-confirm {
  margin-top: 1rem;
}

/* SIGN UP */

.sign-up {
  display: block;
  margin-bottom: 2rem;
}

.sign-up:hover, .sign-up:focus {
  background-color: white;
  color: black;
}


/* CITATIONS */

.main-citations img {
  display: block;
}



/*PROUCTS PAGE */
li {
  margin-bottom: 1rem;
}

.checkout-button {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  float: right;
}

@media (min-width: 69rem) {
  .products-info-positioning {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .calender {
    margin-left: 2rem;
    grid-row-start: 2;
    grid-column-start: 2;
    float: right;
  }

  .checkout-button {
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 1.5rem;
    text-align: center;
  }
}

/*CALENDER FOR BOOKINGS */
.calender {
  margin-top: 1rem;
  max-width: 35rem;
}

.month {
  padding: 2rem 0.1rem;
  max-width: 35rem;
  background: #E87461;
  text-align: center;
}

.month div {
  margin: 0;
  padding: 0;
}

.month{
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.month .prev {
  float: left;
  padding-top: 1rem;
}

.month .next {
  float: right;
  padding-top: 1rem;
}

.weekdays {
  max-width: 35rem;
  background-color: #ddd;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem;
}

.weekdays div {
  color: #666;
  text-align: center;
} 

.days {
  max-width: 35rem;
  background: #eee;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem;
}

 .days div {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #777;
} 

.days div:nth-child(-n+7) {
  background-color: #332E3C;
  color: white;
}

.days div:hover {
  background: #E87461;
  color: white;
}

/* FOOTER */

.contact-info h2 {
  color: white;
}

.page-info-footer {
  width: 15rem;
  margin: 1rem auto;
}

.page-info-footer a{
  padding: 1rem;
  text-decoration: none;
  color: white;
}


.social-media-links a { 
  width: 3rem;
  padding: 0.5rem;
  display: inline-block;
}

.social-media-links a:hover, .social-media-links a:focus {
  text-decoration: none;
  background-color: #74A4BC;
} 

@media (min-width: 38rem) {
  .social-media-links {
    float: right;
    margin-top: -3.5rem;
  }

}

.endText {
  text-align: center;
}




/*SCREEN POSITIONING FOR DIFFERENT SCREENS*/
@media (max-width: 38rem) {
  .element-for-centering, .main-element, .element, .element-heading, h2, h3, h4{
    margin-left: 0;
    padding-left: 0.4rem;
  }
}