main {
  min-height: 73.5vh;
}

a img:hover, a img:focus {
  opacity: 50%;
}



/* INDEX PAGE */
/* Hero Image Styling */
/* .img-container{
  position:relative;
  color:rgb(0, 0, 0);
  float:left;
  width:100%;
} */


.intro-slideshow img{
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  transition:opacity 0.75s ease-in-out;
}

.intro .intro-header{
  border-radius:2rem;
  padding:2rem 2.5rem;
  background-color:rgba(255, 255, 255, 70%);
  position: relative;
  z-index: 1;
  max-width: 50rem;
  margin: 0rem auto;
  top: 10rem;
  text-align: center;
}

.intro p{
font-size:1.75rem;
}

h2{
  color:rgb(0, 0, 0);
  font-size:2rem;
}

.main-element {
  margin-bottom: 4rem;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.flex-item img {
  display: block;
  width: 30rem;
  height: 20rem;
  margin-bottom: 2rem;
}

.main-heading {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #332E3C;
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
}

.browse {
  float: right;
  margin-top: -4rem;
}

.element-position {
  position: relative;
  margin-top: 55rem;

}

/* PRODUCTS CATALOGUE*/

.listing-heading {
  margin-top: 2rem;
  color: white;
}

@media (max-width: 69rem) {
  .main-navigation {
    padding-top: 5rem;
  }
}

/* LOGIN */

.checkout-confirm {
  margin-top: 1rem;
}

/* SIGN UP */

.sign-up {
  display: block;
  margin-bottom: 2rem;
}

.sign-up:hover, .sign-up:focus {
  background-color: white;
  color: black;
}


/* CITATIONS */

.main-citations img {
  display: block;
}
