main {
  min-height: 73.5vh;
}

a img:hover, a img:focus {
  opacity: 50%;
}



/* INDEX PAGE */
h2 {
  color: black;
}

.main-element {
  margin-bottom: 4rem;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.flex-item img {
  display: block;
  width: 30rem;
  height: 20rem;
  margin-bottom: 2rem;
}

.main-heading {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #332E3C;
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
}

.browse {
  float: right;
  margin-top: -4rem;
}

/* PRODUCTS CATALOGUE*/

.listing-heading {
  margin-top: 2rem;
  color: white;
}

@media (max-width: 69rem) {
  .main-navigation {
    padding-top: 5rem;
  }
}

/* LOGIN */

.checkout-confirm {
  margin-top: 1rem;
}
