/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', Verdana, sans-serif;
    margin: 0;
    background-color: #E87461;
  }
  
  .element, .main-element{
    background-color: white;
    padding: 2rem;
    padding-left: 3rem;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto Serif', serif;
  }
  
  a:hover, a:focus {
    color: white;
    background-color: #E87461;
    text-decoration: none;
  }
  
  i {
    font-family: 'Roboto Serif', serif;
    font-style: italic;
  }
  
  
  h1 {
    max-width: fit-content;
    margin: 1rem auto;
    font-size: 3.5rem;
    background-color: #74A4BC;
    color: white;
    padding: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .h1-header {
    background-color: #74A4BC;
  
  }
  
  h2 {
    font-size: 2.4rem;
    margin-top: 1rem;
    color: white;
  }
  
  h3 {
    font-size: 1.75rem;
    font-style: italic;
    margin-top: 1rem;
    margin-left: -1rem;
  }
  
  h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  h5 {
    font-size: 1rem;
  }
  
  p {
    margin-top: 0;
    font-size: 1rem;
    max-width: 34rem;
  }
  
  img {
    height: auto;
    width: 45rem;
    max-width: 100%;
  }
  
  section {
    margin: 0;
  }
  
  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }
  
  .numbered-list li {
    list-style: lower-roman;
  }
  
  .heading-guide {
    font-style: normal;
    color: black;
    margin-left: 0;
  }
  
  .heading-guide h3{
    margin-left: 1rem;
  }
  
  .in-page-navigation-main {
    background-color: #DD9787;
  
  }
  
  .in-page_navigation {
    max-width: 90rem;
    margin: 0rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 0.75rem;
  }
  
  .element-for-centering {
    max-width: 90rem;
    margin: 1rem auto;
  }
  
  h1 div {
    font-family: 'Roboto Serif', serif;
  }
  
  .in-page-navigation-main a{
    font-size: 1rem;
    color: white;
    background-color: #332E3C;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    margin: 1rem;
  }
  
  .in-page-navigation-main a:hover, .in-page-navigation-main a:focus {
    padding: 1rem;
    background-color: #56E39F;
    color:#332E3C;
  
  }
  
  /* 
    INTERACTIVE ELEMENTS -------------------
  */
  
  #interactive_elements {
    padding: 2rem;
    background-color: #E87461;
  }
  
  
  /* Styling for the navigation button */
  .button-nav {
    display: inline-block;
    padding: 1rem;
    border-radius: 0.25rem;
    color: white;
    background-color: #332E3C;
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.5s;
  }
  
  .button-nav:hover, .button-nav:focus {
    background-color: #E87461;
  }
  
  nav a{
    font-size: 1rem;
    color: white;
    background-color: #332E3C;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
  }
  
  nav a:hover, nav a:focus {
    padding: 1rem;
    background-color: #56E39F;
    color:#332E3C;
  
  }
  
  /* implements image as nagivational link*/
  .image-link:hover, .image-link:focus {
    opacity: 30%;
  }
  
  /* implements design for form elements*/
  .form-element {
    margin-bottom: 4rem;
    position: relative;
  }
  
  label {
    color: black;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    color: black;
    width: 30rem;
    height: auto;
    max-width: 80%;
    padding: 0.5rem;
    position: absolute;
  }
  
  ::placeholder {
    color: black;
  }
  
  input:hover, input:focus {
    border-style: double;
    border-color: #E87461;
    border-width: 0.25rem;
  }
  
  /* applies color to element bottom margin */
  
  .element-heading {
    padding-bottom: 1rem;
    border-bottom-width: 0.10rem;
    border-bottom-style: solid;
    border-bottom-color: #E87461;
  }
  
  /* 
    TEXT ELEMENTS -------------------
  */
  
  #text_elements {
    padding: 2rem;
    background-color: #E87461;
  }
  
  /* 
    COMBINED ELEMENTS -------------------
  */
  
  #combined_elements {
    padding: 2rem;
    background-color: #E87461;
  }
  
  .roboto-font-element {
    font-family: 'Roboto Serif', serif;
    font-size: 2rem;
  }
  
  .montserrat-font-element {
    font-family: 'Montserrat', Verdana, sans-serif;
    font-size: 2rem;
  }
  
  .main-navigation {
    background-color:#332E3C;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .main-navigation a {
    margin: 1rem 1rem 0 1rem;
  }
  
  .space-description-list {
    list-style: none;
  }
  
  
  .p1-colors div{
    font-style: normal;
    font-weight: 700;
    padding: 1.6rem;
    padding-top: 10rem;
  }
  
  .medium-aquamarine{
    background-color: #56E39F;
  }
  
  .terra-cotta {
    background-color: #E87461;
    color: white;
  }
  
  .dark-salmon {
    background-color: #DD9787;
  }
  
  .raisin-black {
    background-color: #332E3C;
    color: white;
  }
  
  .air-super-blue {
    background-color: #74A4BC;
    color: white;
  }
  
  /*-------
  implements all media queries for different screen sizes
   --------*/
  
  @media (min-width: 38rem) {
    .main-navigation {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
    }
  
    nav a{
      margin-left: 4rem;
    }
  
  }
  
  @media (min-width: 48rem) {
  
    .p1-colors {
      display: flex;
      flex-wrap: wrap;
    }
  
    .p1-colors div{
      padding: 1.6rem;
      padding-top: 20rem;
    }
  
    .in-page_navigation{
      grid-template-columns: 1fr 1fr;
    }
  
    code{
      font-size: 100%;  
    }
  
  }
  
  @media (min-width: 69rem) {
    .main-navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  
    .in-page_navigation{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
  }
  
  /* CITATIONS */
  
  #citations {
    background-color: #74A4BC;
    color: white;
    padding: 2rem;
  }
  
  #citations li{
    list-style: square;
  }
  
  a {
    word-break: break-all;
    color: #332E3C;
  }